{
	"presets": [
		["env", {
			"targets": {
				"chrome": 53
			},
			"useBuiltIns": true
		}], "stage-0", "react"
	],
	"plugins": [
		"dev-expression"
	],
	"env": {
		"production": {
			"plugins": ["transform-react-inline-elements", "transform-react-constant-elements"]
		}
	}
}